*{margin: 0; padding: 0;}

img {
    /* padding: 20%; */
}

a.nuthire.btn.btn-primary {
    width: 180px;
    background: #070707e6;
    border: none;
    border-radius: 0px;
}

}

.tt p {
    color: #000000b8;
    font-size: 14px;
    line-height: 24px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 22px;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 52px;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 20%;
}

.khoitt1 {
    height: 270%;
    width: 100%;
    background: #FF9683;
    position: relative;
    z-index: 1;
}

.khoitt1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #FF775F;
}

body,html {
    height: 100%;
    width: 100%;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background: white;
}

li.nav-item {
    margin: 0;
    padding: 0;
    margin: 0 17px;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    line-height: 96px;
} 

nav.navbar.navbar-light.bg-faded {
	margin: 0;
	padding: 0;
}

@media (max-width: 576px){
	* {}

img {}

.tt h2 {
    font-size: 26px;
    margin: 7px -10px;
}

.tt img {
    width: 117px;
    margin-top: 118px;
    margin-bottom: 21px;
}

a.navbar-brand {
    padding: -6px;
    /* border: solid gray; */
    /* margin: -2px; */
    /* margin: 13px 3px; */
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {}

li.nav-item {
    float: none!important;
    display: inline;
}

ul.nav.navbar-nav.float-xs-right {
    float: none!important;
    text-align: center;
    background: #ffffff;
    width: 110%;
    padding: 10px 19px;
    margin-left: -14px;
}

li.nav-item {
    display: inline!important;
    margin: 0 0;
}

a.nav-link {
    line-height: 30px;
    display: inline!important;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 96%;
}
}