*{margin: 0; padding: 0;}

.khoitt1 {
    height: 90%;
    width: 100%;
    background: #FF9683;
    position: relative;
}

.khoitt1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #FF775F;
}

body,html {
    height: 100%;
    width: 100%;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background: white;
}

li.nav-item {
    margin: 0;
    padding: 0;
    margin: 0 17px;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    line-height: 96px;
} 

nav.navbar.navbar-light.bg-faded {
	margin: 0;
	padding: 0;
}

@media (max-width: 576px){
	* {}

li.nav-item {
    float: none!important;
    display: inline;
}

ul.nav.navbar-nav.float-xs-right {
    float: none;
    text-align: center;
}

li.nav-item {
    display: inline!important;
    margin: 0 0;
}

a.nav-link {
    line-height: 30px;
    display: inline!important;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
}
}