*{margin: 0; padding: 0;}

.down:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: white;
    left: 50%;
    bottom: 76%;
    margin-left: 0px;
}

.down:hover {
    bottom: 4%;
}

.down {
    width: 35px;
    height: 65px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    bottom: 2%;
    margin-left: -18px;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
}

.khoithongnho {
    margin-bottom: 55px;
}

.khoithongnho p {
    font-size: 13px;
    line-height: 21px;
    color: #00000094;
}

span.motaqt {
    font-size: 14px;
    margin-bottom: 26px;
    display: block;
}

.khoithongnho h3.tieudecap3 {
    font-size: 16px;
    color: #bc3333;
    margin-bottom: 20px;
}

span.bold {
    font-weight: bold;
    font-family: segoe ui;
}

h2.tieudecap2 {
    font-weight: normal;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 40px;
}

.tieudeto {
    margin-top: 120px;
    margin-bottom: 60px;
}

.tieudeto h1 {
    display: inline;
    background: url(images/line.png) no-repeat left bottom;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-size: 30px;
}

img {
    /* padding: 20%; */
}

a.nuthire.btn.btn-primary {
    width: 180px;
    background: #070707e6;
    border: none;
    border-radius: 0px;
}

}

.tt p {
    color: #000000b8;
    font-size: 14px;
    line-height: 24px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 22px;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 52px;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 20%;
}

.khoitt1 {
    height: 130%;
    width: 100%;
    background: #FF9683;
    position: relative;
    z-index: 1;
}

.khoitt1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #FF775F;
}

body,html {
    height: 100%;
    width: 100%;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background: white;
}

li.nav-item {
    margin: 0;
    padding: 0;
    margin: 0 17px;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    color: #101010;
    line-height: 96px;
} 

nav.navbar.navbar-light.bg-faded {
	margin: 0;
	padding: 0;
}

@media (max-width: 576px){
	* {}

h2.tieudecap2.text-sm-left.text-xs-center {
    margin-top: 40px;
}

img {}

.tt h2 {
    font-size: 26px;
    margin: 7px -10px;
}

.tt img {
    width: 117px;
    margin-top: 118px;
    margin-bottom: 21px;
}

a.navbar-brand {
    padding: -6px;
    /* border: solid gray; */
    /* margin: -2px; */
    /* margin: 13px 3px; */
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {}

li.nav-item {
    float: none!important;
    display: inline;
}

ul.nav.navbar-nav.float-xs-right {
    float: none!important;
    text-align: center;
    background: #ffffff;
    width: 110%;
    padding: 10px 19px;
    margin-left: -14px;
}

li.nav-item {
    display: inline!important;
    margin: 0 0;
}

a.nav-link {
    line-height: 30px;
    display: inline!important;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 96%;
}
}